/*nth-child and nth-of-type selectors:*/

div[class^="test-rel"] p:nth-child(even){
    background: grey;
}

div[class^="test-rel"] p:nth-child(odd){
    background: orange;
}

div[class^="test-rel"] p:nth-child(3n+1){
    font-weight: bold;
    color: black;
}

div[class^="test-rel"] p:nth-child(3){/*3rd child i.e. h2(1) p(2) p(3)*/
    color: yellow;
}

div[class^="test-rel"] p:nth-of-type(3){/*3rd of p type i.e. p(1) p(2) p(3)*/
    color: yellow;
}