h1, p, a {
    color: blueviolet;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main em{
    color: red;
}

#main .test em {
    color: yellow;
}

#main > p{
    text-decoration-line: overline; /* '>' sign added to style only direct child p in the main div. Grandchild p remains unchanged*/
}